{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="card-deck">
        <div class="card-block">
        <h4>Welcome to sound-app</h4>
        <p>If you're seeing this message, that means you haven't yet compiled your ClojureScript!</p>
        <p>Please run <code>lein figwheel</code> to start the ClojureScript compiler and reload the page.</p>
        <h4>For better ClojureScript development experience in Chrome follow these steps:</h4>
        <ul>
            <li>Open DevTools
            <li>Go to Settings ("three dots" icon in the upper right corner of DevTools > Menu > Settings F1 > General > Console)
            <li>Check-in "Enable custom formatters"
            <li>Close DevTools
            <li>Open DevTools
        </ul>
        <p>See <a href="http://www.luminusweb.net/docs/clojurescript.md">ClojureScript</a> documentation for further details.</p>
        </div>
    </div>
</div>
{% script "/js/app.js" %}
{% endblock %}
