{% extends "base.html" %}
{% block content %}
<div class="col-md-12">
    <div class="row">
        <h3 class="title">All Songs</h3>
    </div>

    <!-- TODO: Don't use table -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th>Title</th>
                <th>Arist</th>
                <th>Album</th>
            </tr>
        </thead>
        <tbody>
            {% for song in songs %}
            <tr>
                <td>
                    <audio id="song-{{ song.id }}" preload="metadata">
                        <source src="/uploads/{{ song.file }}" type="audio/mpeg" />
                    </audio>

                    <!-- <button on-click="sound_app.core.play_song({{ song.id }})"> -->
                    <button onclick="sound_app.core.play_song(this, {{ song.id }})">
                        |>
                    </button>
                </td>
                <th scope="row">{{ song.track }}</th>
                <td>{{ song.title }}</td>
                <td>{{ song.artist }}</td>
                <td>{{ song.album }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <a class="btn btn-primary" href="/upload">
            Upload
        </a>
    </div>
</div>

{% script "/js/app.js" %}
{% endblock %}
