{% extends "base.html" %}
{% block content %}
<div class="col-md-12">
    <div class="row">
        <h3 class="title">Upload an MP3</h3>
    </div>
    <div class="row">
        <form action="/upload" enctype="multipart/form-data" method="POST">
            {% csrf-field %}
            <div class="form-group">
                <input class="form-control"
                       name="file"
                       type="file" />
            </div>

            <input class="btn btn-primary" type="submit" value="Upload"/>
        </form>
    </div>
</div>
{% endblock %}

